@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
main {
    background-color: #e9e7e6;
    max-width: 1440px;
    padding: 50px 5px 50px 5px;
}

.primary-color {
    background-color: #FF4D00 !important;
}

.secondary-color {
    background-color: #fcd4c5 !important;
}

.text-color {
    color: #FF4D00 !important;
}

.food-images {
    border-radius: 20%;
    max-width: 30%;
}


@media only screen and (max-width: 425px) {
  
}

